<!doctype html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>کلماتیک - ماجراجویی با کلمات</title><!-- TODO -->
    <meta name="description" content=""><!-- TODO -->
    <meta name="keywords" content=""><!-- TODO -->

    <meta property="og:title" content="کلماتیک - ماجراجویی با کلمات" /><!-- TODO -->
    <meta property="og:description" content="" /><!-- TODO -->
    <meta property="og:url" content="http://www.ordibeheshtstudio.com/en/games/kalamatic/" />
    <meta property="og:image" content="assets/img/logo.png" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ordibeheshtstu">
    <meta name="twitter:creator" content="@ordibeheshtstu">
    <meta name="twitter:title" content="کلماتیک - ماجراجویی با کلمات"><!-- TODO -->
    <meta name="twitter:description" content=""><!-- TODO -->
    <meta name="twitter:image" content="assets/img/logo.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="welcome">
<%- include('parts/overlay') %>
<%- include('parts/header') %>
<%- include('parts/main') %>
<%- include('parts/modal') %>
<%- include('parts/footer') %>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>