<!doctype html>
<html lang="fa-ir">
<% VERSION = "1.0.2"; %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>کلماتیک | بازی حدس کلمه</title>
    <meta name="description"
          content="کلماتیک یک بازی حدس کلمه بی‌نهایت جذاب و اعتیادآور که این روزها همه در موردش صحبت میکنن. آسون شروع اما خیلی زود شما رو به چالش میکشه. فکر میکنی چندتا کلمه بلدی؟! مشابه بازی آمیرزا برای iOS (آیفون)">
    <meta name="keywords"
          content="بازی حدس کلمه, کلماتیک بازی کلمات, مشابه بازی آمیرزا برای iOS, مشابه بازی فندق برای iOS">

    <meta property="og:title" content="کلماتیک | بازی حدس کلمه"/>
    <meta property="og:description"
          content="کلماتیک یک بازی حدس کلمه بی‌نهایت جذاب و اعتیادآور که این روزها همه در موردش صحبت میکنن. آسون شروع میشه سریع شما رو مشغول میکنه. فکر میکنی چندتا کلمه بلدی؟! مشابه بازی آمیرزا برای iOS (آیفون) "/>
    <meta property="og:url" content="http://www.kalamatic.com/"/>
    <meta property="og:image" content="/assets/img/logo.png?v=<%- VERSION %>"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="http://www.kalamatic.com/">
    <meta name="twitter:creator" content="@ordibeheshtstu">
    <meta name="twitter:title" content="کلماتیک | بازی حدس کلمه">
    <meta name="twitter:description"
          content="کلماتیک یک بازی حدس کلمه بی‌نهایت جذاب و اعتیادآور که این روزها همه در موردش صحبت میکنن. آسون شروع میشه سریع شما رو مشغول میکنه. فکر میکنی چندتا کلمه بلدی؟! مشابه بازی آمیرزا برای iOS (آیفون) ">
    <meta name="twitter:image" content="/assets/img/logo.png?v=<%- VERSION %>">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=<%- VERSION %>">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=<%- VERSION %>">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=<%- VERSION %>">
    <link rel="manifest" href="/site.webmanifest?v=<%- VERSION %>">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=<%- VERSION %>" color="#4a2359">
    <meta name="msapplication-TileColor" content="#4a2359">
    <meta name="theme-color" content="#4a2359">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css?v=<%- VERSION %>">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102933584-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-102933584-6');
        gtag('config', 'AW-782563262');
    </script>
    <!-- Event snippet for Check Landing Page conversion page
  In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-782563262/4-lVCPTT0IsBEL7vk_UC',
                'event_callback': callback
            });
            return false;
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "VideoGame",
            "name": "کلماتیک - ماجراجویی با کلمات",
            "url": "http://kalamatic.com",
            "image": "https://www.kalamatic.com/assets/img/logo.png",
            "description": "یک بازی بی نهایت جذاب و اعتیادآور که این روزها همه در موردش صحبت میکنن، آسون شروع میشه و خیلی سریع شما رو به چالش میکشه. فکر میکنی چندتا کلمه بلدی؟! چالشی شیرین از جنس کلمات که شما رو ساعتها سرگرم میکنه. اگر دنبال جایگزین آمیرزا برای iOS هستی کلماتیک رو حتماً امتحان کن.",
            "inLanguage": [
                "فارسی",
                "Persian"
            ],
            "author": {
                "@type": "Organization",
                "name": [
                    "اردیبهشت استودیو",
                    "Ordibehesht Studio"
                ],
                "url": "http://ordibeheshtstudio.com"
            },
            "sameAs": [
                "https://twitter.com/ordibeheshtstu",
                "https://www.facebook.com/ordibeheshtstudio",
                "https://plus.google.com/114682394346276955357",
                "https://www.linkedin.com/company/ordibehesht-studio/",
                "https://www.youtube.com/channel/UCA41V9dIiEbGXj8JLpiWolg/",
                "https://www.instagram.com/ordibeheshtstudio",
                "https://github.com/ordibeheshtstudio",
                "https://t.me/ordibeheshtstudio"
            ],
            "applicationCategory": [
                "Mobile Game",
                "بازی موبایل"
            ],
            "publisher": [
                "Ordibehesht Studio",
                "اردیبهشت استودیو"
            ],
            "genre": [
                "Word Game",
                "Puzzle",
                "کلمات و دانستنی ها",
                "پازل"
            ],
            "operatingSystem": "Android, iOS",
            "gamePlatform": [
                "Mobile",
                "Tablet",
                "موبایل",
                "آیفون"
            ],
            "trailer": {
                "@type": "VideoObject",
                "name": "کلماتیک بازی حدس کلمه",
                "url": "https://youtu.be/bGQ7y0c5x5s",
                "description": "یک بازی بی نهایت جذاب و اعتیادآور که این روزا همه در موردش صحبت میکنن. آسون شروع میشه و خیلی زود شما رو به چالش میکشه. فکر میکنی چندتا کلمه بلدی؟",
                "duration": "T0M30S",
                "thumbnailUrl": "https://www.ordibeheshtstudio.com/media/images/Banner.width-1120.jpg",
                "thumbnail": "https://www.kalamatic.com/assets/img/logo.png",
                "uploadDate": "2018-07-01"
            },
            "playMode": {
                "@type": "GamePlayMode",
                "name": "Word Game, Puzzle,کلمات و دانستنی ها, پازل"
            },
            "numberOfPlayers": {
                "@type": "QuantitativeValue",
                "Value": "1"
            },
            "keywords": "بازی حدس کلمه, بازی با حروف و کلمات, مشابه بازی آمیرزا برای آیفون )iOS), کلماتیک, kalamatic",
            "offers": {
                "@type": "Offer",
                "price": "0",
                "priceCurrency": "IRR",
                "description": "رایگان با پرداخت درون برنامه"
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "bestRating": "5",
                "ratingValue": "4.7",
                "ratingCount": "6000"
            }
        }


    </script>
</head>

<body class="welcome">
<%- include('parts/overlay') %>
<%- include('parts/header') %>
<%- include('parts/main') %>
<%- // include('parts/modal') %>
<%- include('parts/footer') %>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="assets/js/app.js?v=<%- VERSION %>"></script>
</body>

</html>
