<!doctype html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>کلماتیک | بازی حدس کلمه</title>
    <meta name="description" content="کلماتیک یک بازی حدس کلمه بی‌نهایت جذاب و اعتیادآور که این روزها همه در موردش صحبت میکنن. آسون شروع میشه سریع شما رو مشغول میکنه. فکر میکنی چندتا کلمه بلدی؟! مشابه بازی آمیرزا برای iOS (آیفون) ">
    <meta name="keywords" content="بازی حدس کلمه, کلماتیک بازی کلمات, مشابه بازی آمیرزا برای iOS, مشابه بازی فندق برای iOS">

    <meta property="og:title" content="کلماتیک | بازی حدس کلمه" />
    <meta property="og:description" content="کلماتیک یک بازی حدس کلمه بی‌نهایت جذاب و اعتیادآور که این روزها همه در موردش صحبت میکنن. آسون شروع میشه سریع شما رو مشغول میکنه. فکر میکنی چندتا کلمه بلدی؟! مشابه بازی آمیرزا برای iOS (آیفون) " />
    <meta property="og:url" content="http://www.ordibeheshtstudio.com/en/games/kalamatic/" />
    <meta property="og:image" content="assets/img/logo.png" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ordibeheshtstu">
    <meta name="twitter:creator" content="@ordibeheshtstu">
    <meta name="twitter:title" content="کلماتیک | بازی حدس کلمه">
    <meta name="twitter:description" content="کلماتیک یک بازی حدس کلمه بی‌نهایت جذاب و اعتیادآور که این روزها همه در موردش صحبت میکنن. آسون شروع میشه سریع شما رو مشغول میکنه. فکر میکنی چندتا کلمه بلدی؟! مشابه بازی آمیرزا برای iOS (آیفون) ">
    <meta name="twitter:image" content="assets/img/logo.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102933584-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-102933584-6');
    </script>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "VideoGame",
      "offers": {
        "@type": "AggregateOffer",
        "priceCurrency": "ریال",
        "price": "رایگان با پرداخت درون برنامه",
        "lowPrice": "10000"
      },
      "name": "کلماتیک",
      "applicationCategory": "بازی موبایل",
      "operatingSystem": "Android, iOS",
      "url": "http://kalamatic.com",
      "image": "https://www.kalamatic.com/assets/img/kalamatic.png",
      "description": "یک بازی بی نهایت جذاب و اعتیادآور که این روزها همه در موردش صحبت میکنن، آسون شروع میشه و خیلی سریع شما رو به چالش میکشه. فکر میکنی چندتا کلمه بلدی؟! چالشی شیرین از جنس کلمات که شما رو ساعتها سرگرم میکنه. اگر دنبال جایگزین آمیرزا برای iOS هستی کلماتیک رو حتماً امتحان کن.",
      "inLanguage": [
        "Persian"
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.7",
        "ratingCount": 5300
      },
      "author": {
        "@type": "Organization",
        "name": "Ordibehesht Studio",
        "url": "http://ordibeheshtsudio.com"
      },
      "publisher": "Ordibehesht Studio",
      "genre": [
        "کلمات و دانستنی ها",
        "پازل",
        "خانوادگی"
      ]
    }
    </script>
</head>
<body class="welcome">
<%- include('parts/overlay') %>
<%- include('parts/header') %>
<%- include('parts/main') %>
<%- include('parts/modal') %>
<%- include('parts/footer') %>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
